name: Release Zed Extension
on:
  push:
    tags:
      - "v*"

jobs:
  homebrew:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: huacnlee/zed-extension-action@v1
        with:
          extension-name: ow-lsp-colors
          extension-path: extensions/color-highlight
          push-to: benjaminschulz/zed-extensions
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
